.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  position: fixed;
  top:0;
  width: 90%;
  box-sizing: border-box;
}

img {
  height: 50px;
}

.portfolio {
  height: 5vw;
  font-family: "Dr Sugiyama";
  font-size: 2vw;
  margin: 0;
}

@media (max-width: 768px) {
  .portfolio {
    font-size: 2rem;
  }

  .header-container {
    width: 87%;
    position: relative;
  }
}
