body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--primary-color);
    color: var(--dark-color);
}

:root {
    --primary-color:  white;
    --dark-color: #8c0000;
    --accent-color: #3b6b6b;
    --warn-color: #8c2e00 ;
    --background-color: #4c0000 ;
    --text-color: #white;
  
    --mat-primary-color: var(--background-color);
    --mat-accent-color: var(--accent-color);
    --mat-warn-color: var(--warn-color);
  
    --mdc-filled-text-field-container-color: white;
  
    --mat-primary-contrast: var(--text-color);
    --mat-accent-contrast: var(--text-color);
    --mat-warn-contrast: var(--text-color);
  }
