<div class="fleche-remonter-container" *ngIf="showScrollButton">
  <mat-icon class="fleche-remonter" (click)="scrollToTop()">arrow_upward</mat-icon>
</div>

<div class="global-container">
  <div class="titles-container">
    <div class="titles">
      <div class="illus-wrapper">
        <img class="illus" src="assets/illusperso2.webp" />
      </div>
      <div class="title">
        <h1 class="prenom">Noémie</h1>
        <h1 class="nom">Baudry</h1>
        <h2 id="job-title"></h2>
      </div>
    </div>
    <div class="intro">
      <div class="intro-texte">
        <p class="intro-paragraphe">
          🎖️ J’ai mené des équipes, planifié des missions, pris des décisions.
        </p>
        <p class="intro-paragraphe">💻 Aujourd’hui, je reviens au code.</p>
        <p class="intro-paragraphe">
          🎮 Même logique, même rigueur, nouveau terrain de jeu.
        </p>
        <p class="intro-paragraphe">
          🧩 De l’armée au développement, l’adaptation reste ma spécialité.
        </p>
      </div>

      <div class="intro-image">
        <img class="illus-intro" src="assets/illus-intro.png" />
      </div>
    </div>
  </div>

  <div class="cursus-container">
    <h2 class="onglet">Cursus</h2>
    <div class="timeline">
      <div class="event" *ngFor="let item of events">
        <div class="date">{{ item.date }}</div>
        <div class="description">{{ item.description }}</div>
        <div class="skill-container" *ngFor="let skill of item.skills">
          <img src="assets/plus.png" class="skill-icon" />
          <p class="skill">{{ skill }}</p>
        </div>
        <img class="illustration" [src]="item.photo" />
      </div>
    </div>
    <div class="arrow-container">
      <div class="circle-arrow">
        <mat-icon class="arrow" (click)="onArrowClick('left')"
          >chevron_left</mat-icon
        >
      </div>
      <div class="circle-arrow">
        <mat-icon class="arrow" (click)="onArrowClick('right')"
          >chevron_right</mat-icon
        >
      </div>
    </div>
  </div>

  <div class="competences-container">
    <h2 class="onglet">Compétences</h2>
    <div class="competences-wrapper">
      <div class="competences">
        <h3>Expertise technique</h3>
        <div class="competence">
          <p>Java / Spring</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="80"></div>
          </div>
        </div>
        <div class="competence">
          <p>Typescript / Angular</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="90"></div>
          </div>
        </div>
        <div class="competence">
          <p>MySQL</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="70"></div>
          </div>
        </div>
        <div class="competence">
          <p>MongoDB</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="60"></div>
          </div>
        </div>
        <div class="competence">
          <p>Docker</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="50"></div>
          </div>
        </div>
        <div class="competence">
          <p>Déploiement (AWS, Heroku)</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="60"></div>
          </div>
        </div>
        <div class="competence">
          <p>CI/CD (GitHub Actions)</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="50"></div>
          </div>
        </div>
        <div class="competence">
          <p>Bonnes pratiques (Code propre, SOLID, TDD/BDD)</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="70"></div>
          </div>
        </div>
      </div>

      <div class="competences">
        <h3>Aptitudes professionnelles</h3>
        <div class="competence">
          <p>Capacité d'adaptation</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="100"></div>
          </div>
        </div>
        <div class="competence">
          <p>Leadership</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="100"></div>
          </div>
        </div>
        <div class="competence">
          <p>Collaboration et communication</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="100"></div>
          </div>
        </div>
        <div class="competence">
          <p>Méthodes Agile</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="60"></div>
          </div>
        </div>
        <div class="competence">
          <p>Capacité d'analyse et de synthèse</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="90"></div>
          </div>
        </div>
        <div class="competence">
          <p>Organisation / gestion de projets</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="80"></div>
          </div>
        </div>
        <div class="competence">
          <p>Veille et curiosité technique</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="70"></div>
          </div>
        </div>
        <div class="competence">
          <p>Résolution de problèmes</p>
          <div class="jauge">
            <div class="jauge-bar" data-skill-level="90"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="projets-container">
    <div class="projets">
      <h2 class="onglet">Projets</h2>
      <div class="projet">
        <h3>
          Randogs
          <a href="https://randogs.com" target="_blank" class="visit"
            >Visiter</a
          >
        </h3>

        <p>
          Cette application permet aux clients de
          <strong>réserver en ligne</strong>, payer leur réservation, offrir des
          bons cadeaux et consulter les informations sur les différentes
          activités proposées. <br /><br />
          Elle comporte aussi<strong>
            une interface administrateur complète </strong
          >qui permet la gestion du planning, des créneaux disponibles, des bons
          cadeaux, des activités et de la FAQ par les gérants de l'entreprise.
          <br /><br />
          Elle est composée d'un front Angular, une API Java Spring, une base de
          données MySQL et est deployée sur Heroku.
        </p>
        <div class="captures captures1">
          <img
            (click)="openCaroussel(1)"
            class="capture capture1"
            src="assets/randogs1.png"
          />
          <img
            (click)="openCaroussel(1)"
            class="capture capture1"
            src="assets/randogs2.png"
          />
          <img
            (click)="openCaroussel(1)"
            class="capture capture1"
            src="assets/randogs3.png"
          />
          <img
            (click)="openCaroussel(1)"
            class="capture capture1"
            src="assets/randogs4.png"
          />
          <img
            (click)="openCaroussel(1)"
            class="capture capture1"
            src="assets/randogs5.png"
          />
        </div>
        <div *ngIf="openCaroussel1" class="caroussel-container">
          <mat-icon class="caroussel-cross" (click)="closeCaroussel(1)"
            >clear</mat-icon
          >
          <div class="caroussel-capture-container caroussel1">
            <img
              (click)="closeCaroussel(1)"
              class="caroussel-capture caroussel-capture1"
              src="assets/randogs1.png"
            />
            <img
              (click)="closeCaroussel(1)"
              class="caroussel-capture caroussel-capture1"
              src="assets/randogs2.png"
            />
            <img
              (click)="closeCaroussel(1)"
              class="caroussel-capture caroussel-capture1"
              src="assets/randogs3.png"
            />
            <img
              (click)="closeCaroussel(1)"
              class="caroussel-capture caroussel-capture1"
              src="assets/randogs4.png"
            />
            <img
              (click)="closeCaroussel(1)"
              class="caroussel-capture caroussel-capture1"
              src="assets/randogs5.png"
            />
          </div>
          <div class="caroussel-arrows-container">
            <div class="caroussel-circle-arrow">
              <mat-icon
                class="caroussel-arrow"
                (click)="onCarousselArrowClick1('left')"
                >chevron_left</mat-icon
              >
            </div>
            <div class="caroussel-circle-arrow">
              <mat-icon
                class="caroussel-arrow"
                (click)="onCarousselArrowClick1('right')"
                >chevron_right</mat-icon
              >
            </div>
          </div>
        </div>
      </div>
      <div class="projet">
        <h3>
          OWOD
          <a href="https://owod.aipda-design.org/" target="_blank" class="visit"
            >Visiter</a
          >
        </h3>

        <p>
          Cette plateforme a été créée au profit de l'AIPDA (association pour la
          promotion du design en Afrique). Elle est constituée d'une base de
          données MongoDB qui
          <strong>répertorie les designers du monde entier</strong> travaillant
          en lien avec l'art africain, et d'une application web Spring/Angular
          qui permet aux designers de<strong> s'inscrire et de configurer leur profil.</strong>
          <br /><br />
          Cette plateforme a été déployée sur AWS (S3, Elastic Beanstalk,
          Amplify). Il s'agit d'un travail collaboratif avec plusieurs acteurs
          du département tech de l'association.
        </p>
        <div class="captures captures2">
          <img
            (click)="openCaroussel(2)"
            class="capture capture2"
            src="assets/owod1.png"
          />
          <img
            (click)="openCaroussel(2)"
            class="capture capture2"
            src="assets/owod2.png"
          />
          <img
            (click)="openCaroussel(2)"
            class="capture capture2"
            src="assets/owod3.png"
          />
          <img
            (click)="openCaroussel(2)"
            class="capture capture2"
            src="assets/owod4.png"
          />
          <img
            (click)="openCaroussel(2)"
            class="capture capture2"
            src="assets/owod5.png"
          />
        </div>
      </div>
      <div *ngIf="openCaroussel2" class="caroussel-container">
        <mat-icon class="caroussel-cross" (click)="closeCaroussel(2)"
            >clear</mat-icon>
        <div class="caroussel-capture-container caroussel2">
          <img
            (click)="closeCaroussel(2)"
            class="caroussel-capture caroussel-capture2"
            src="assets/owod1.png"
          />
          <img
            (click)="closeCaroussel(2)"
            class="caroussel-capture caroussel-capture2"
            src="assets/owod2.png"
          />
          <img
            (click)="closeCaroussel(2)"
            class="caroussel-capture caroussel-capture2"
            src="assets/owod3.png"
          />
          <img
            (click)="closeCaroussel(2)"
            class="caroussel-capture caroussel-capture2"
            src="assets/owod4.png"
          />
          <img
            (click)="closeCaroussel(2)"
            class="caroussel-capture caroussel-capture2"
            src="assets/owod5.png"
          />
        </div>
        <div class="caroussel-arrows-container">
          <div class="caroussel-circle-arrow">
            <mat-icon
              class="caroussel-arrow"
              (click)="onCarousselArrowClick2('left')"
              >chevron_left</mat-icon
            >
          </div>
          <div class="caroussel-circle-arrow">
            <mat-icon
              class="caroussel-arrow"
              (click)="onCarousselArrowClick2('right')"
              >chevron_right</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
    <p class="projets-texte">
      Ces deux projets sont les plus complets que j'ai mené. <br />De l'analyse
      des besoins client jusqu'au déploiement et au monitoring. <br />Vous
      trouverez sur mon repository GitHub mes autres projets dont le code
      est accessible (application de blogging, application microservices...).
    </p>
  </div>

  <div class="contact-container">
    <h2 class="onglet">Contact</h2>
    <p>
      <strong>Vous avez un projet en tête ou une question ?</strong> <br />
      N'hésitez pas à me contacter, je serai ravie d'échanger avec vous !
    </p>
    <p>
      <strong>Vous êtes un recruteur ?</strong> <br />
      Terminant actuellement mes projets freelance, <br />
      je serai en recherche d'un poste à partir d'avril 2025.
    </p>
    <div class="bulle-wrapper">
      <div class="bulle">
        <img class="contact-img" src="assets/mail.png" />
        <a class="mail">baudry.ddf&#64;gmail.com</a>
      </div>
      <div class="bulle">
        <img class="contact-img" src="assets/linkedin.png" />
        <a
          target="_blank"
          href="https://www.linkedin.com/in/no%C3%A9mie-baudry-3308b621a/"
          >Profil LinkedIn</a
        >
      </div>
      <div class="bulle">
        <img class="contact-img" src="assets/github.png" />
        <a target="_blank" href="https://github.com/NoBdr07">Profil GitHub</a>
      </div>
    </div>
  </div>

  <div class="rappel-perso">
    <img src="assets/illusperso2.webp" />
  </div>

  <div class="ghost-container"></div>
  <div class="footer">
    <p>&copy; 2025 Noémie Baudry. Tous droits réservés.</p>
  </div>
</div>
