
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.global-container {
  box-sizing: border-box;
}


/* LES H2 POUR EFFET ONGLET */

.onglet {
  font-size: 2rem;
  font-weight: initial;
  font-variant: all-small-caps;
  top: -99px;
  border: solid;
  position: relative;
  text-align: center;
  background: var(--primary-color);
  height: 47px;
  padding: 10px;
  width: 200px;
  border-radius: 8px 8px 0 0;
  border-bottom-color: var(--primary-color) !important;
}

.cursus-container h2 {
  left: -180px;
}

.competences-container h2 {
  left: 362px;
  position: absolute;
}

.projets-container h2 {
  min-width: 200px;
  left: 604px;
  position: absolute;
}

.contact-container h2 {
  left: 847px;
  position: absolute;
}

/* TITLE CONTAINER */

.titles-container {
  margin-top: 10rem;
  overflow: hidden;
  width: 100%;
  top: 100px;
  z-index: -1;
  text-align: center;
  font-weight: lighter;
}

.titles {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 16rem;
  color: var(--dark-color);
  font-weight: initial;
  font-family: "Dr Sugiyama";
  line-height: 200px;  
}

.prenom {
  position: relative;
  top: 2rem;
}

.nom {
  position: relative;
  left: -7rem;
}

.illus {
  height: 600px;
}

.illus-wrapper {
  display: inline-block;
  position: relative;
}

.illus-wrapper::after {
  content: "";
  position: absolute;
  height: 10px;
  background-color: var(--dark-color);
  width: 100vw;
  left: 94px;
  transform-origin: left;
  top: 599px;
}

.titles-container h1,
.titles-container h2 {
  margin: 0;
  z-index: 1;
}

.intro {
  font-size: 2vw;
  text-align: start;
  font-weight: bolder;
  line-height: 150px;
  margin: 300px 100px;
  top: 0.5vw;
}


.titles-container h2 {
  font-weight: bolder;
  position: relative;
  left: -9rem;
  font-size: 3rem;
  animation-delay: 5s;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
}

 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


/* CURSUS CONTAINER */

.cursus-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 10vh 0 0 0;
  background-color: var(--primary-color);
  box-sizing: border-box;
  border-top: solid;
  position: sticky;
  top: 90px;
  z-index: 2;
  height: 1100px;
  padding: 0 300px 100px 300px;
}

.timeline {
  display: flex;
  height: fit-content;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.illustration {
  height: 100px;
  width: 150px;
  object-fit: contain;
}

.event {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  margin-right: 100px;
  min-width: 200px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.event .date {
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-color);
}

.event .description {
  margin-top: 10px;
  font-size: 14px;
  color: var(--primary-color);
}

.skill {
  background: var(--primary-color);
  border-radius: 8px;
  padding: 5px;
}

.arrow-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.circle-arrow {
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 10px;
  margin: 10px;
  background: linear-gradient(
    90deg,
    var(--background-color),
    var(--primary-color)
  );
  background-size: 200%;
  transition: background-position 0.3s ease;
}

.circle-arrow:hover {
  cursor: pointer;
  background-position: 100%;
}

.mat-icon {
  font-size: 50px;
  height: fit-content;
  width: fit-content;
  color: var(--primary-color);
}

/* COMPETENCES CONTAINER */

.competences-container {
  background-color: var(--primary-color);
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 90px;
  z-index: 3;
  border-top: solid;
  height: 1100px;
  padding: 100px ;
  display: flex;
  flex-direction: row;
}

.competences {
  height: 100vh;
  margin: 0 auto;
  gap: 100px;
}

.competence {
  margin: 15px 0;
}

.jauge {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: transparent;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  overflow: hidden;
}

.jauge-bar {
  height: 100%;
  width: 0;
  background-color: var(--accent-color);
  transition: width 3s ease-in-out;
}

/* PROJETS CONTAINER */

.projets-container {
  width: 100%;
  background-color: var(--primary-color);
  height: 1100px;
  padding: 100px;
  box-sizing: border-box;
  z-index: 4;
  position: sticky;
  top: 90px;
  border-top: solid;
}

.projets {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.projet {
  width: 50%;
}

.captures {
  position: relative;
  margin: auto; 
  height: 400px;
}

.capture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Positionnement initial des images en "tas" */
.capture:nth-child(1) {
  z-index: 5;
}

.capture:nth-child(2) {
  transform: translate(-50%, -50%) rotate(10deg);
}

.capture:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-10deg);
}

.capture:nth-child(4) {
  transform: translate(-50%, -50%) rotate(5deg);
}

.capture:nth-child(5) {
  transform: translate(-50%, -50%) rotate(-5deg);
}

/* Effet de dispersion en cercle au survol */

/* Capture 1 : placée au centre */
.captures:hover .capture:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

/* Capture 2 : en haut à droite */
.captures:hover .capture:nth-child(2) {
  top: 0;
  left: 100%;
  transform: translate(-100%, 0) rotate(10deg);
}

/* Capture 3 : en bas à droite */
.captures:hover .capture:nth-child(3) {
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%) rotate(-10deg);
}

/* Capture 4 : en haut à gauche */
.captures:hover .capture:nth-child(4) {
  top: 0;
  left: 0;
  transform: translate(0, 0) rotate(5deg);
}

/* Capture 5 : en bas à gauche */
.captures:hover .capture:nth-child(5) {
  top: 100%;
  left: 0;
  transform: translate(0, -100%) rotate(-5deg);
}

/* Passage au mode plein écran au clic */

.caroussel-container {
  position: fixed;        
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); 
  z-index: 1000;
}

.caroussel-capture-container {
  display: flex;
  flex-direction: row;
}

.caroussel-capture {
  height: 30vw;
  cursor: pointer;
  transition: transform 0.5s ease, opacity 0.5s ease, left 0.5s ease, top 0.5s ease;
}

.caroussel-capture.active {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 10;
  position: absolute;
}

/* Image située à gauche de l'image active */
.caroussel-capture.left {
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.7;
  z-index: 5;
  position: absolute;
}

/* Image située à droite de l'image active */
.caroussel-capture.right {
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.7;
  z-index: 5;
  position: absolute;
}

/* Les autres images sont cachées */
.caroussel-capture.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 20%;
  left: 20%;
}

.caroussel-arrows-container {
  position: absolute;
  z-index: 1000;
  margin-top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 100px;
  left: 45vw;
}

.caroussel-circle-arrow {
  cursor: pointer;
  border: none;
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.caroussel-circle-arrow:hover {
  transform: scale(1.15) ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


/* CONTACT CONTAINER */

.contact-container {
  z-index: 6;
  position: sticky;
  top: 90px;
  background-color: var(--primary-color);
  border-top: solid;
  height: 1000px;
  padding: 100px;
  text-align: center;
}

.contact-container p {
  font-size: 2rem;
}

.contact-img {
  height: 60px;
  width: 60px;
  background: var(--dark-color);
  padding: 20px;
}

.bulle-wrapper {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;
  margin-top: 100px;
}

.bulle {
  height: 200px;
  width: 200px;
  background-color: var(--dark-color);
  border-radius: 50%;
  color: var(--primary-color);
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bulle a {
  text-decoration: none;
  color: var(--text-color);
}

.bulle:hover {
  cursor: pointer;
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



/* GHOST CONTAINER */

.ghost-container {
  height: 1000px;
  background-color: var(--primary-color);
}

/* FOOTER */

.footer {
  height: 100px;
  text-align: center;
  z-index: 1000;
  position: relative;
}

.footer p {
  color: var(--dark-color);
}